<!DOCTYPE html>
<html>
<head>
    <title>SportsStore</title>
    <script src="common/js/angular.js"><!-- --></script>
    <script src="common/js/ngmodules/angular-resource.js"><!-- --></script>
    <script src="filters/customFilters.js"><!-- --></script>
    <script src="components/sportsStore.js"><!-- --></script>
    <script src="services/storeServices.js"><!-- --></script>
    <script src="controllers/sportsStoreController.js"><!-- --></script>

    <link href="common/css/bootstrap.css" rel="stylesheet" />
    <link href="common/css/bootstrap-theme.css" rel="stylesheet" />

</head>
<body ng-app="sportsStore">
<div class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">SPORTS STORE</a>
</div>
<div class="panel panel-default row" ng-controller="SportsStoreController as storeCtrl">
    <div class="col-xs-3">

        <a ng-click="selectCategory()" class="btn btn-block btn-default btn-lg">Home</a>
        <!-- pass in the products to the filter so it can return unique categories
        <a ng-repeat="item in storeCtrl.products |categoryFilter:'category'| orderBy:'category'" class="btn btn-block btn-default btn-lg">
            {{item.category}}
        </a>
        -->
        <div class="btn btn-block btn-default btn-lg" ng-repeat="cat in storeCtrl.categories">{{cat.category}}</div>
    </div>
    <div class="col-xs-8">
        <div class="well" ng-repeat="item in storeCtrl.products">
            <h3>
                <strong>{{item.name}}</strong>
                <span class="pull-right label label-primary">
                    {{item.price | currency}}
                </span>
                <span class="lead">{{item.description}}</span>

            </h3>
        </div>
    </div>
</div>
</body>
</html>